body{margin-left:250px;
    background:url(mar.jpg) no-repeat;
    background-position:center;
    background-size:cover;
    height:100vh;
    transition:0.5s;
}

img{
    background-color: black;
    margin-left: 2px;
    background-position:center;
    background-size:cover;
    height:80vh;
    transition:0.5s;    
}